:root{
    --cor-fundo:#462932;
    --cor-fundo: #4a1214;
    --cor-principal:#4a1214;
    --cor-secundaria:#4a1214;
    --cor-destaque:#4a1214;
    --cor-texto:#d8efff;
}
body{
    background-color: var(--cor-fundo);
}
.caixa-principal{
    background-color:var(--cor-fundo) bisque;
    color: var(--cor-texto);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
button{
    background-color:var(--cor-secundaria);
    color: var(--cor-texto) #4a1214;
    border:none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3s;
}
button:hover{
    background-color: #4a1214;
    color: #4a1214;
}