:root{
    --cor-fundo:var #b7a9b2;
    --cor-fundo:var #4a1214;
    --cor-principal:#4a1214;
    --cor-secundaria:#4a1214;
    --cor-destaque:#4a1214;
    --cor-texto:#4a1214;
}
body{
    background-color:var(--cor-fundo) bisque;
    color: var(--cor-texto);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}